* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}
h1 {
  font-size: 42px;
  background-color: #081b31;
  color: #fff;
  height: 12vh;
  line-height: 12vh;
}
#container {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-top: 68px;
}
.choice:hover {
  cursor: pointer;
  opacity: 0.7;
}
img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
}
#score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 31px;
  margin-top: 66px;
  font-weight: bold;
  gap: 74px;
}
#user-score,
#comp-score,
#draw {
  font-size: 81px;
}
#result {
  margin-top: 66px;
}
#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 50px;
  display: inline;
  padding: 12px 26px;
  border-radius: 11px;
}
